<!-- Validation failure messages -->
<% if @class_schedule.errors.any? %>
  <% @class_schedule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Class Schedule</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_class_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for courses_id -->
      <div class="form-group">
        <label for="courses_id" class="control-label">
          Courses
        </label>

        <%= select_tag(:courses_id, options_from_collection_for_select(Course.all, :id, :course_name, @class_schedule.courses_id), :class => "form-control") %>
      </div>

      <!-- Label and input for students_id -->
      <input type="hidden" name="students_id" value="<%= current_student.id %>">

      <button class="btn btn-success">
        Create Class Schedule
      </button>
      or
      <a href="/class_schedules">Cancel</a>
    </form>
  </div>
</div>
